@charset "UTF-8";

* {
    margin: 0; padding: 0;
    font-family: Arial, 'sans-serif';
}

a { text-decoration: none !important; }
img {border: 0;}
ul {list-style: none;}

#main_header {
    height: 600px;
    background: rgb(255, 203, 203);
    color: white;
}

#main_header a{
    color: black;
}

#main_header > .gnb_container {
    background: rgb(72, 226, 180);
    height: 96px;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #b1b1b1;
}

    #main_header .gnb {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

    #main_header .logo {
        float: left;
        width: 190px;
        margin-top: 12px;
}

#main_header ul.nav {
    float: left;
    overflow: hidden;
    padding: 0 60;
}

#main_header ul.nav > li {
    float: left;
    padding: 18px 17px;
    width: 10px
    text-align: center;
}